<div class="container" *ngIf="Data">
  <div class="main">
    
    <div class="nav">
      <div class="boxcube"></div>
      <div class="menus">
        <div class="menu" *ngFor="let link of Data.links | keyvalue:originalOrder">
          <a routerLink={{link.key}} class="menu-links" *ngIf="link.key!='architecture'">{{link.value}}</a>
          <a href={{link.value}} class="menu-links" *ngIf="link.key==='architecture'" download={{link.value}}>{{link.key}}</a>
        </div>
        <a href="https://github.com/rishabh-108272/Plant_Species_App/blob/main/README.md" class="hrefLink"><div id="githubLink"></div></a>
      </div>
    </div>
    <div class="pages">
      <div class="logo">
        <div class="cube"></div>
        PSI</div>
      <router-outlet></router-outlet>
    </div>
    <div class="animation">
      <div class="loop-wrapper">
        <div class="mountain"></div>
        <div class="hill"></div>
        <div class="hill"></div>
        <div class="tree"></div>
        <div class="tree"></div>
        <div class="tree"></div>
        <div class="rock"></div>
        <div class="truck"></div>
        <div class="wheels"></div>
      </div> 
    </div>
    
  </div>
  
  <div class="footer">
    <div class="footer-types">

       <!-- download type options -->
      <div class="type-navigator">
        <div class="type-platform" (click)="changeDownloadType(0)" style="cursor: pointer;">
          <div class="types-logo"><img src="footer/androidLogo.png" alt="" height="20px"></div>
        </div>
        <div class="type-platform" (click)="changeDownloadType(1)" style="cursor: pointer;">
          <div class="types-logo" style="font-size: 20px;font-weight: 600;color: #d1d1d1;">IOS</div>
        </div>
      </div>

      <div class="footer-details">
        
        <!-- Download type platform logo or image -->
        <div class="mobile-art">
          <div class="sub-mobile-art">
            <img class="platform-image" src="{{FooterData.platformImage}}" alt="" width="100%">
          </div>
        </div>

        <!-- Download Boxes -->
        <div class="Content-Download-Option">
          <div class="Download-Type">
            <div class="Type-title">
              <div class="Type-Name">Mobile/Tablet</div>
              <div class="Type-Os">{{FooterData.platform}}</div>
            </div>
            <div class="Download-Description">
              {{FooterData.requirements}}
            </div>
          </div>
          <div class="Download-Image-with-link">
            <a href="" class="download-link">
              <div class="download-link-box">
                <div class="download-title">{{FooterData.downloadTitle}}</div>
                <div class="download-logo"><img src={{FooterData.applicationLogo}} alt=""></div>
              </div>
            </a>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>