<div class="container">
  <div class="nav">
    <div class="logo">Plant Species Identification</div>
    <div class="menus">
      <a routerLink="/home" class="menu-links">Home</a>
      <a routerLink="/resources" class="menu-links">Resources</a>
      <a href="https://github.com/rishabh-108272/Plant_Species_App/blob/main/README.md" class="menu-links">Architecture</a>
      <a href="https://github.com/rishabh-108272/Plant_Species_App/blob/main/README.md" class="menu-links">Github</a>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <div class="footer-types">

       <!-- download type options -->
      <div class="type-navigator">
        <div class="type-platform">
          <div class="types-title">Andrioid</div>
          <div class="types-logo">Logo</div>
        </div>
        <div class="type-platform">
          <div class="types-title">IOS</div>
          <div class="types-logo">Logo</div>
        </div>
      </div>

      <div class="footer-details">
        
        <!-- Download type platform logo or image -->
        <div class="mobile-art">
          <div class="sub-mobile-art">
            <img class="platform-image" src="Android.png" alt="" width="100%">
          </div>
        </div>

        <!-- Download Boxes -->
        <div class="Content-Download-Option">
          <div class="Download-Type">
            <div class="Type-title">
              <div class="Type-Name">Mobile/Tablet</div>
              <div class="Type-Os">Android</div>
            </div>
            <div class="Download-Description">
              Minimum Requirements (Version 2.22.13.77) Android OS 4.0.3 or above
            </div>
          </div>
          <div class="Download-Image-with-link">
            <a href="" class="download-link">
              <div class="download-link-box">
                <div class="download-title">Title</div>
                <div class="download-logo">logo</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>