<div class="container">
  <div class="top">
    <div class="logo">Plant Species Identification</div>
    <div class="menus">
      <div class="menu">Home</div>
      <div class="menu">Docs</div>
      <div class="menu">Journey</div>
    </div>
  </div>

  <div class="content">
    <div class="Main-content">


      <div class="Main-Content-Front">

        <div class="Main-Content-Top">
          <div class="Title">
            <div class="Title-Head">
              Download Plant Identification App
            </div>
            <div class="Title-Description">
              Advanced Plant Detection and Description App
            </div>
          </div>
        </div>
        
        <div class="Main-Content-Middle">

          <div class="Middle-Features">
            <div class="Middle-Feature F1">
              <div class="Features-Title">
                Real-Time Detection of Plant Features
              </div>
              <hr>
              <div class="Features-Content">
                <div class="Features-Content-Description">
                  Using AI models to identify and analyze features like leaves, fruits, flowers, diseases, or other characteristics in plants.
                </div>
                <div class="Features-Content-Image">
                  <!-- TODO:: PASTE GOOGLE ICON IMAGE -->
                </div>
              </div>
            </div>
            <div class="Middle-Feature F2">
              <div class="Features-Title">
                Real-Time Detection of Plant Features
              </div>
              <hr>
              <div class="Features-Content">
                <div class="Features-Content-Description">
                  Using AI models to identify and analyze features like leaves, fruits, flowers, diseases, or other characteristics in plants.
                </div>
                <div class="Features-Content-Image">
                  <!-- TODO:: PASTE GOOGLE ICON IMAGE -->
                </div>
              </div>
            </div>
            <div class="Middle-Feature F3">
              <div class="Features-Title">
                Real-Time Detection of Plant Features
              </div>
              <hr>
              <div class="Features-Content">
                <div class="Features-Content-Description">
                  Using AI models to identify and analyze features like leaves, fruits, flowers, diseases, or other characteristics in plants.
                </div>
                <div class="Features-Content-Image">
                  <!-- TODO:: PASTE GOOGLE ICON IMAGE -->
                </div>
              </div>
            </div>
            <div class="Middle-Feature F4">
              <div class="Features-Title">
                Real-Time Detection of Plant Features
              </div>
              <hr>
              <div class="Features-Content">
                <div class="Features-Content-Description">
                  Using AI models to identify and analyze features like leaves, fruits, flowers, diseases, or other characteristics in plants.
                </div>
                <div class="Features-Content-Image">
                  <!-- TODO:: PASTE GOOGLE ICON IMAGE -->
                </div>
              </div>
            </div>
          </div>
          

          <div class="app-logo">
            <img src="App.png" height="auto">
          </div>
        </div>

      </div>
      


      <div class="Main-Content-Bottom">
        <div class="Bottom-Title">
          <div class="Bottom-Title-Head">
            Download Options
          </div>
          <div class="Bottom-Title-Descritption">
            Identifiy and Detect Plant In Your Surroundings
          </div>
        </div>
        <div class="Bottom-Content">
          <div class="Content-Download-Option">
            <div class="Download-Type">
              <div class="Type-Name">
                Mobile/Tablet
              </div>
              <div class="Type-Os">
                Android
              </div>
              <div class="Download-Description">
                Minimum Requirements (Version 2.22.13.77) Android OS 4.0.3 or above
              </div>
              <div class="Download-Image-with-link">

              </div>
            </div>
            <div class="Download-Type">
              <div class="Type-Name">
                Mobile/Tablet
              </div>
              <div class="Type-Os">
                IOS
              </div>
              <div class="Download-Description">
                Comming-Soon
              <div class="Download-Image-with-link">
                
              </div>
              <div class="Download-Type">
                <div class="Type-Name">
                  Descktop
                </div>
                <div class="Type-Os">
                  MAC
                </div>
                <div class="Download-Description">
                  Comming-Soon
                <div class="Download-Image-with-link">
                  
                </div>
              </div>
              <div class="Download-Type">
                <div class="Type-Name">
                  Descktop
                </div>
                <div class="Type-Os">
                  Windows
                </div>
                <div class="Download-Description">
                  Comming-Soon
                <div class="Download-Image-with-link">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="Content-Image">
            <!-- TODO: PATE MOBILE IMAGE HERE as Half Cutted -->
          </div>
        </div>
      </div>
      
    </div>
    <div class="Docs-Content"></div>
    <div class="Journey-Content"></div>
    
  </div>
</div>


<router-outlet />
